html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', serif;
    padding: 0;
    margin: 0;
    background-color: #ffe4f2;
}



h1.title , h2.title, h3.title , h4.title , h5.title , h6.title  {
    font-family: 'Playfair Display', serif;
    color: #44008b;
    width: auto;
}

h1.title{
     font-size: 36px !important;
     text-shadow: 0 2px 1px #8f8f8f;
 }


/* NAVGATION */
header {
    height: 136px;
}

.logo img{
    max-height: 100px;
}

.logo {
    margin: 20px;
    display:inline;
}

nav.navbar.navbar-default.navbar-fixed-top.inNav {
    //background-image: -webkit-linear-gradient(top,#fff 0,#c9ffea 100%)
    background-image: -webkit-linear-gradient(top,#c9ffea 0,#c9ffea 100%);
    background: #c9ffea !important;
}

.inNav {
    padding-bottom: 10px;
    padding-top: 25px;
}

.navPad {
    padding-top: 20px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}


/* CONTENT */

.container.content {
    background-color: white;
    padding: 30px 40px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

.image img {
    border: pink 1px solid;
    width: 100%;
    padding: 15px;
}

/* FOOTER */

footer#footer {
    background-color: #536eff;
    color: #fff;
    height: 250px;
}

footer#footer .container {
    padding-top: 35px;
}

footer h2.title, footer li a, footer ul li a, footer#copyright .copyright-bar a  {
    color: #fff;
}


footer li, footer ul li {
    list-style-type: square;
    color: #fff;
}

footer li a:hover, footer ul li a:hover, footer#copyright .copyright-bar a:hover {
    color: #ffe4f2;
    text-decoration: none;
}

.foo-bar {
    margin-right: 0px;
}
.foo-bar .transparent {
    color: transparent;
}

footer#copyright {
    padding: 10px 0 20px;
    background-color: #00076f;
    color: #fff;
}

.copyright-bar.right {
    float: right;
    text-align: right;
}

.copyright-bar.right>#quote {
    font-size: 12px;
}